.consent{
    background-color: #bfbfbf;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.consent-row{
    height: 100%;
}

.consent-col{
    margin: 20px;
}
.consent-row-FieldModelDataShow{
    background-color: white;
    height: 180px;
    width: 100%;
    margin: 15px;
}

.consent-row-LineChart{
    background-color: white;
    height: 410px;
    width:100%;
    margin: 15px;
}

.consent-row-chart{
    background-color: white;
    height: 150px;
    width: 100%;
    margin: 15px;
}
